<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
    {{ template "global-navigator" . }}
    <div class="container">
        <form action="/save" method="POST">
            {{ template "csrf-hidden" . }}
            <input type="hidden" name="id" value="{{.article.ID}}">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="title" value="{{.article.Title}}">
            </div>
            <textarea class="form-control" id="" name="body" rows="10">{{.article.Body}}</textarea>
            <input type="submit" value="save" class="btn btn-default">
        </form>
        <form action="/delete" method="POST">
            {{ template "csrf-hidden" . }}
            <input type="hidden" name="id" value="{{.article.ID}}">
            <input type="submit" value="delete this article" class="btn">
        </form>
    {{ template "footer" .}}
    </div>
</body>
</html>
