<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
    {{ template "global-navigator" . }}
    <div class="container">
        <h2>latest articles</h2>
        <ul>
        {{range .articles}}
            <li>
                <a href="/article/{{.ID}}">{{ .Title }}</a> posted on {{ .Created }}
            </li>
        {{end}}
        </ul>
    {{ template "footer" .}}
    </div>
</body>
</html>
