<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
    <header>
        <h1>Login</h1>
    </header>
    {{ template "global-navigator" . }}
    <article>
        <form action="/login" method="POST">
            {{ template "csrf-hidden" . }}
            <label for="email">email</label>
            <input type="text" name="email" value="">
            <label for="password">password</label>
            <input type="password" name="password" value="">
            <input type="submit" value="login">
        </form>
    </article>
    {{ template "footer" .}}
</body>
</html>
