<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
    {{ template "global-navigator" . }}
    <div class="container">
    <h1>Login</h1>
    <form action="/login" method="POST">
        {{ template "csrf-hidden" . }}
        <label for="email">email</label>
        <input type="email" class="form-control" name="email" placeholder="email" value="">
        <label for="password">password</label>
        <input type="password" class="form-control" name="password" placeholder="password" value="">
        <input type="submit" value="login" class="btn btn-default">
    </form>
    {{ template "footer" .}}
    </div>
</body>
</html>
