<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
    <div class="container">
    <h1>Logout</h1>
    {{ template "global-navigator" . }}
        <form action="/logout" method="POST">
            {{ template "csrf-hidden" . }}
            <input type="submit" value="logout" class="btn btn-default">
        </form>
    {{ template "footer" .}}
    </div>
</body>
</html>
