<!DOCTYPE html>
<html lang="en">
{{ template "header" . }}
<body>
    {{ template "global-navigator" . }}
    <div class="container">
        <form action="/save" method="POST">
            {{ template "csrf-hidden" . }}
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" name="title" class="form-control" id="title" placeholder="title">
            </div>
            <label for="body">body</label>
            <textarea class="form-control" id="body" name="body" rows="10"></textarea>
            <input type="submit" value="save" class="btn btn-default">
        </form>
    {{ template "footer" .}}
    </div>
</body>
</html>
